.titulo {
    padding: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslategrey;
}

.imagenbanda {
    padding: 5px;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.subtitulo {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cadetblue;
}

.texto {
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    margin: 30px;
}

a {
    text-decoration: none;
    padding: 8px;
    margin: 10px;
    background-color: #468d5f;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    font-size: 10px;
}